.navInnerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinkWrapper a {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 13px;
  color: #78716c;
  font-size: 14px !important;
}
