.navInnerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 13px;
  color: #78716c;
  font-size: 14px !important;
}

.navItem :first-of-type {
  background-color: #f5f5f4;
}

.navLinkWrapper :first-of-type {
  background-color: #f5f5f4;
  color: #292524;
}
