.avatar img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 15px;
}

.unionStatCardHeader {
    position: relative;
}

.unionStatCardHeaderContent {
    padding: 16px 24px 16px 24px;
}

.unionStatCardHeaderContent label {
    font-weight: 400 !important;
}
