.controls {
  margin-bottom: 12px;
  padding-top: 12px;
  z-index: 100;
  border-top: solid 0.5px #f5f5f4;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-right: auto !important;
    margin-bottom: 12px;
    margin-left: 0 !important;
  }
  @media screen and (max-width: 420px) {
    width: auto;
  }
}
.network-select {
  margin-right: 0.5em;
}
.search {
  height: 45px;

  input {
    height: 40px !important;
    font-size: 14px !important;
    color: #78716c;
  }

  svg path {
    stroke: #78716c !important;
  }

  & input:focus {
    box-shadow: none !important;
  }
}