.statCard {
  width: 100%;
  margin-bottom: 24px;
}

.statMainWrapper {
  display: flex;
}

.unionStatCard {
  box-shadow: 0 0 0 0.5px #e4e4e7;
  border-radius: 8px;
  position: relative;
}

.statVertical {
  display: flex;
  flex-direction: column;
}

.statCardWrapper {
  display: flex;
  flex-wrap: wrap;
}

.statHorizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unionStatCardBody {
  padding: 20px 24px;
}

.statDropdownWrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 430px;
}

.statDropdownWrapper p {
  margin-right: 30px !important;
  margin-bottom: 0;
}

.unionStatCardInnerWrapper {
  display: flex;
  justify-content: space-between;
}

.networkWrapper {
  padding-top: 16px;
}

.networkWrapper p {
  word-break: break-all;
  font-size: 14px !important;
}

.assetInnerWrapper {
  padding-top: 16px;
  padding-bottom: 8px;
}

.lineChartWrapper {
  padding-bottom: 32px;
  padding-top: 24px;
}

.statCardSpacerLarge {
  padding-top: 24px;
  padding-bottom: 24px;
}

.statCardSpacerSmall {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1000px) {
  .statDropdownWrapper p {
    margin-bottom: 12px;
    margin-right: 0 !important;
  }

  .statDropdownWrapper {
    flex-direction: column;
    width: 300px;
  }
}
